---
name: pre-commit

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup python
        uses: actions/setup-python@v6
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
